* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-align: right;
    background-color: #E9FBFF;
    max-width: 100%
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}

header {
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

/* troquei a cor da logo para preto */
#direitos-humanos {
    width: 65px;
    height: 65px;
    filter: brightness(0) invert(0);
}

/* estilos da navbar */
.navbar {
    display: flex;
    align-items: center; 
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.botao {
    font-size: 12px;
    font-weight: 700;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    padding: 0;
    width: 104px;
    height: 39px;
    border-radius: 20px;
    position: relative; 
}

footer {
    width: 100%;
    background-color: #C6C6C6;
    bottom: 0px;
    /* position: absolute; */ /* retirei essa função pois o rodapé não estava no final da pagina então ja arrumei - Yan */
    margin: 0px auto;
    padding: 20px;
    display: flex;
    align-items: center; 
    /* justify-content: space-between; */ /* retirei essa função pois o rodapé não estava no final da pagina então ja arrumei - Yan */
    flex-shrink: 0;
}

#footer-logo {
    width: 65px;
    height: auto;
    margin-right: 2.64em; 
}

#footer-figure {
    margin-left: 90px;
    
}
.footer-text {
    font-size: 14px;
    text-align: justify;
    margin: 0px 3px;
    width: 500px;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: -310px;
}

#footer-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -200px;
}

/* Estilos da lista no footer */
.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 35rem; 
}

.footer-list li {
    font-size: 12px;
    text-align: justify;
    color: black;
    margin-bottom: 5px;
    bottom: 0;
    margin-left: 15rem;
}
.footer-list a {
    text-decoration-line: none;
    color: black;
}

.footer-list a:hover {
    text-decoration-line: underline;
}

.kids {
    width: 300px;
    height: 200px;
    object-fit: cover;
}