* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #E9FBFF;
}

header {
    margin: 1.5rem 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* Aplique flex no footer para alinhar o conteúdo no centro vertical */
footer {
    width: 100%;
    background-color: #C6C6C6;
    padding: 20px;
    bottom: 0;
    display: flex;
    align-items: center; /* Alinha todo o conteúdo verticalmente */
}

.container-2 {
    /* Defina a largura para centralizar horizontalmente */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha o conteúdo verticalmente */
}

#direitos-humanos {
    width: 65px;
    height: 65px;
    filter: brightness(0) invert(0);
    justify-content: flex-start;
    margin-right: auto;
}

.hdr-item {
    margin-right: 20px;
    height: 69px;
    display: flex;
    align-items: center;
}

.botao {
    font-size: 12px;
    font-weight: 700;
    color: #4f4f4f;
    background-color: transparent;
    border: 2px solid #4f4f4f;
    cursor: pointer;
    width: 104px;
    height: 39px;
    border-radius: 20px;
    margin-right: 10px;
}

#search {
    background-color: transparent;
    border: 2px solid #4f4f4f;
    cursor: pointer;
    width: 250px;
    height: 39px;
    border-radius: 20px;
    text-align: left;
}

#lupa-icon {
    width: 48px;
    height: auto;
    margin-top: -7.7px;
}

.intro {
    text-align: center;
    margin: 0 7rem 10px 3rem;
    border: 2px solid blue;
}

.intro h1 {
    font-size: 45px;
}

.intro p {
    text-align: justify;
    color: #4f4f4f;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid red;
}

.noticias-item {
    width: 300px;
    margin: 10px;
    text-align: center;
}

.kids {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer {
    background-color: #C6C6C6;
    padding: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-figure {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#footer-logo {
    width: auto;
    height: auto;
    margin: auto;

}

#footer-figure h5 {
    margin: 0;
    font-size: 15px;
}

.footer-text {
    font-size: 13px;
    text-align: justify;
    width: 500px;
    margin-left: 14rem;
}

.footer-list {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

.footer-list li {
    font-size: 12px;
}

.footer-list a {
    text-decoration: none;
    color: black;
}

.footer-list a:hover {
    text-decoration: underline;
}